node_modules/
apps/docs/.vitepress/dist/
/vendor/
/docs/
/apps/docs/bench.json
.codex/
/temp/
.idea

# Dependencies
node_modules/
package-lock.json
yarn.lock

# Production
dist/
build/
*.tgz

# Misc
.DS_Store
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# Testing
coverage/
.nyc_output/